.info {
    padding: 6px 8px !important;
    font: 14px/16px Arial, Helvetica, sans-serif !important;
    background: white !important;
    background: rgba(255,255,255,0.8) !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
    border-radius: 5px !important;
}
.info h4 {
    margin: 0 0 5px !important;
    color: #777 !important;
}