<div class="container-fluid" id="main">

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <input #searchBox type="text" class="form-control" placeholder="Tên vườn quốc gia" (keyup)="search(searchBox.value)" style="width: 250px;"/>
    <ul class="search-result list-group">
        <li class="list-group-item" *ngFor="let naturalPark of naturalParks$ | async " 
        (click)="clickOnNaturalPark(naturalPark)">
          {{naturalPark.properties?.NameUTF8}}
        </li>
      </ul>
    <div class="content-sidenav">
    </div>
  </div>

  <span style="font-size:30px;cursor:pointer" (click)="openNav()"> &#9776; </span>
  <div class="row">
    <div id="loadVung" style="background:#fff;">
      <app-map-view [regionConfig]="regionConfig" [provincesData]="provincesData" [natureParksData]="natureParksData"></app-map-view>
    </div>
  </div>
</div>      